*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
#window{
    margin: auto;
    margin-top: 50px;
    display: flex;
    width: 900px;
    height: 400px;
    background-color: #c0d8fc;
    flex-direction: column;
}
#menu{
    position: absolute;
    cursor: pointer;
}
#gamezone{
    background-color: rgb(46, 0, 65);
    height: 70%;
    width: 100%;
    display: flex;
}
#ground{
    background-color: rgb(39, 39, 39);
    height: 30%;
    width: 100%;
    z-index: 101;
}
#protagonist{
    background-color: rgb(255, 100, 100);
    width: 20px;
    height: 20px;
    position: relative;
    top:93%;
    left: 10%;
    left: 10%;
}
@keyframes movProtagonist{
    from{
        top:93%;
    }
    50%{
        top: 60%;
    }
    to{
        top:93%;
    }
}

@keyframes movDownProtagonist{
    from{
        top:75%
    }
    
    to{
        top:93%;
    }
}

#stone{
    background-color: rgb(119, 119, 119);
    width: 30px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 85%;
    left: 110%;
}
@keyframes movStone{
    to{
        top: 85%;
        left: -15%;
    }
}

#stoneTwo{
    background-color: rgb(119, 119, 119);
    width: 30px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 85%;
    left: 110%;
}
@keyframes movStone{
    to{
        top: 85%;
        left: -15%;
    }
}

#stoneThree{
    background-color: rgb(119, 119, 119);
    width: 30px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 85%;
    left: 110%;
}
@keyframes movStone{
    to{
        top: 85%;
        left: -15%;
    }
}

#stoneFour{
    background-color: rgb(119, 119, 119);
    width: 30px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 85%;
    left: 110%;
}
@keyframes movStone{
    to{
        top: 85%;
        left: -15%;
    }
}